<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>massage | create</title>
</head>
<body>
    <h1> Create Massage</h1>
    <form method="POST" action="/create">
        {% csrf_token %}
        <table>
            <tr>
                <td>name:</td>
                <td><input type="text" name="uname" placeholder="sender" />></td>
            </tr>
            <tr>
                <td>Email Id:</td>
                <td><input type="email" name="uemail" placeholder="sender"/></td>
            </tr>
            <tr>
                <td> mibile no:</td>
                <td> <input type="number" name="mobile" placeholder="sender" /></td>

            </tr>
            <tr>
                <td>Massate:</td>
                <td><textarea name="msg" rows="5" cols="30"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="send" /></td>
            </tr>
        </table>
    </form>
    
</body>
</html>