<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ragister</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>Registration</h1>
                <form method="POST" action="">
                    <div class="mb-3">
                        <label for="input1" class="form-lable"><strong>Username</strong></label>
                        <input type="email" class="form-control" id="'input1">
                    </div>
                    <div class="mb-3">
                        <label for="input2" class="form-lable"><strong>password</strong></label>
                        <input type="password" class="form-control" id="'input2">
                    </div>
                    <div class="mb-3">
                        <label for="input3" class="form-lable"><strong>Conform password</strong></label>
                        <input type="password" class="form-control" id="input3">
                    </div>
                    <div class="mb-3">
                        
                        <input type="submit" class="btn btn-danger" value="Ragister">
                        Already User?
                        <a href="login.html" >Login</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
</body>
</html>